{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  
    Hi {{ user.username | title }}! &nbsp&nbsp <a href="{% url 'logout' %}">Logout</a>
<div>
  
<h1>ID:{{paciente.id}} - {{paciente.nome}}</h1>
  
  
<form action = "{%url 'cadastrar_atendimento'%}" method="POST">{% csrf_token %}
    
    {{form_anamnese.as_p }}
    
    
    <input name="paciente_id" type="hidden" value="{{paciente.id}}">
    
    <input type="submit" value="Registrar atendimento">
</form>


</div>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

  
{% endblock %}

