{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  
    Hi {{ user.username | title }}! &nbsp&nbsp <a href="{% url 'logout' %}">Logout</a>
<div>
   <table>
  <tr>
    <th>Nome</th>
    <th>Sobrenome</th> 
    <th>Data de Nascimento</th>
    <th>Profissao</th>
  </tr>
{% for context in contexts %}
<tr>
    <td>{{context.nome}}</td>
    <td>{{context.sobrenome}}</td>
    <td>{{context.data_nascimento | date:"d M Y"}}</td>
    <td>{{context.profissao}}</td>
    
</tr>
{% endfor %}
</table>
   
   
</div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}