<!-- Template para mostrar lista de datas de atendimento -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  
    Hi {{ user.username | title }}! &nbsp&nbsp <a href="{% url 'logout' %}">Logout</a>
<div>
   <table>
  <tr>
    <th>Id do atendimento</th>
    <th>Data</th>
    Paciente_id = {{paciente_id}}
    </tr>
  <form action = "{%url 'cadastrar_atendimento' %}" method= "POST">{% csrf_token %}
     <input name="paciente_id" type="hidden" value="{{paciente_id}}">
     <input type="submit" value="Cadastrar Novo Atendimento"> 
    </form>
{% for context in contexts %}
<tr>
    <td>{{context.id_atendimento}}</td>
    <td>{{context.data_atendimento }}</td>
    
    
    <td>
        <form action = "{%url 'pesquisar_conteudo_atendimento' %}" method="POST"> {% csrf_token %}
            <input name="id_atendimento" type="hidden" value="{{context.id_atendimento}}">
            <input type="submit" value="Pesquisar"> 
        </form> 
    </td>
</tr> 
{% endfor %}
</table>

</div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}